## NODE MODULES ##
/node_modules

## COMPILED ##
public/app.js

## API KEYS ##
config.js

## SECRET ##
/secret

## MAC ##
.DS_Store

## DUMMY DATA ##
client/components/dummy_data
client/components/RandR/dummy.js