/* OVERVIEW WIDGET */

/* QUESTIONS AND ANSWERS */

/* RATINGS AND REVIEWS */
.histogramBlock {
  display: inline-block;
  width: 30%;
  margin: 2.5%;
}

.histogramBlock {
  margin: 2.5%;
  display: inline-block;
  width: 60%;
}